:root {
  --neon-color: #33b78f;
  --primary-color: rgb(229, 226, 217);
  --secondary-color: rgb(62, 112, 72);
}

body {
  background-color: rgb(229, 226, 217);
  font-family: "Poppins";
}
/* Navbar */
.navbar {
  background-color: rgb(62, 112, 72);
}
.navbar-nav a {
  color: var(--primary-color);
}
/* Home page */
.my-pic {
  max-width: 100%;
  height: auto;
  display: block;
  margin: 0 auto;
  margin-top: 25px;
  max-height: 400px;
}

.greetings,
.web-dev {
  font-size: 36px;
  font-weight: 600;
}

.author {
  color: var(--neon-color);
  font-size: 44px;
  font-weight: 600;
  font-style: italic;
}
span {
  font-size: 28px;
  font-weight: 600;
  color:rgb(11, 97, 84)
}

p {
  font-family: Roboto;
  line-height: 2.2;
  font-size: 20px;
  text-indent: 40px;
}
.home-page {
  height: 780px;
}
.social-links a {
  padding: 15px;
}
#together {
  color: var(--secondary-color);
  font-family: sans-serif;
  font-size: 32px;
}

/* skills */
.title {
  padding-top: 90px;
}

.skills .progress {
  height: 60px;
  display: block;
  background: none;
  padding: 0;
  margin: 0 0 6px 0;
  display: block;
  font-weight: 600;
  font-family: "Poppins";
  color: rgb(21, 84, 75);
}

.skills .progress-bar {
  width: 1px;
  height: 10px;
  transition: 0.9s;
  background-color: rgb(214, 170, 59);
}
/* portfolio */
.portfolio .card {
  margin: 12px;
  height: fit-content;
}
.card-img-top {
  padding-top: 15px;
  height: 150px;
  object-fit: contain;
}
.card-text {
  font-size: 15px;
  line-height: normal;
  text-indent: 0%;
}
.btn-success {
  width: 100%;
  color: #fff;
  font-size: larger;
}

/* contact */
/* .contact {
  padding-bottom: 30px;
} */
.contact {
  padding-bottom: 120px;
  padding-top: 200px;
}

a {
  text-decoration: none;
  font-size: 26px;
}
.contact .info {
  padding: 20px;
  background: #fff;
  width: 100%;
  box-shadow: 0 0 24px 0 rgba(0, 0, 0, 0.437);
}
.contact-box {
  height: 500px;
}
/* footer */
#footer {
  padding: 20px 20px;
  background-color: var(--secondary-color);
  color: var(--primary-color);
}
@media (max-width: 1199px) {
  #footer {
    position: static;
    width: auto;
    padding-right: 20px 15px;
  }
}
