:root {
  --neon-color: #33b78f;
  --primary-color:  rgb(218, 215, 205);
}

body {
  background-color: rgb(218, 215, 205);
  font-family: poppins;

}
/* Navbar */
.navbar {
  background-color: rgb(62, 112, 72); 


} 
.navbar-nav a {
  color: var(--primary-color);
}
/* Home page */
.greetings,
.web-dev {
  font-size: 40px;
  font-weight: 600;
}
.author {
  color: var(--neon-color);
  font-size: 44px;
  font-weight: 600;
  font-style: italic;
}
span {
  font-size: 28px;
  font-weight: 600;
}

p {
  font-family: Roboto;
  line-height: 2;
  font-size: 20px;
  text-indent: 40px;
}
.social-links a {
  padding: 15px;
}

/* skills */
.skills .progress {
  height: 60px;
  display: block;
  background: none;
  border-radius: 0;
}

.skills .progress {
  padding: 0;
  margin: 0 0 6px 0;
  display: block;
  font-weight: 600;
  font-family: "Poppins", sans-serif;
  color: rgba(0, 0, 0, 0.724);
}

.skills .progress .skill {
  float: right;
  font-style: normal;
}

.skills .progress-bar {
  width: 1px;
  height: 10px;
  transition: 0.9s;
  background-color: rgb(214, 170, 59);
}
